---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <a href="{{ '/' | relative_url }}" class="back-link">&larr; Back to home</a>
    <time class="post-date dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
      {{ page.date | date: "%Y-%m-%d" }}
    </time>
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  <footer class="post-footer">
    <a href="{{ '/' | relative_url }}" class="back-link">&larr; Back to all posts</a>
  </footer>

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
